version: '3.8'

services:
  db:
    image: postgres:16
    container_name: bankcards-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bankcards
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: